{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for p in projects %}
        <div class="project">
            <a class="project-link" href="{{p.link}}">{{p.title}}</a>
            {% if p.details %}
                <ul class="project-details">
                    {% for detail in p.details %}
                        <li>{{ detail }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endif %}
